@charset "ISO-8859-1";
body{
	background-color: lightgrey;
	display:flex;
}
#dashboard{
	font-size:20px;
	font-family:cursive;
	color:white;
	background-color:#000066;
	height:10vh;
	padding-left:50px;
	padding-top:15px;
}

#reconciliation{
	font-size:20px;
	font-family:cursive;
	color:white;
	background-color:#0000b3;
	height:10vh;
	text-align:center;
	padding-top:15px;
}

.alert{
	position:absolute;
	right:0;
	top:10vh;
}

#box{
	padding:10px;
	display:flex;
	justify-content:center;
}

#search-box input{
	position:relative;
	display:inlineblock;
	font-size:14px;
	font-family:cursive;
	font-style:italic;
	box-sizing:border-box;
	
}

#search-box input[type=text]{
	border-radius:20px 0 0 20px;
	padding-left:20px;
}

#search-box input[type=submit]{
	border-radius:0 20px 20px 0;
	cursor:pointer;
	color:darkblue;
	left:-5px;
	font-weight:bold;
}


#search-box input[type=submit]:hover{
	background:darkblue;
	color:white;
}

.index{
	padding:15px;
	margin:2px;
	border-radius:1px;
	opacity:0.6;
	color:#d3d3d3;
	font-size:13px;
	font-weight:bold;
	font-family:cursive;
	width:100%;
}
ul{
	list-style:none;
}
li{
	padding:10px;
	margin:2px;
	border-radius:1px;
	opacity:0.6;
	color:#d3d3d3;
	font-size:13px;
	font-weight:bold;
	font-family:cursive;
	width:100%;
}
li:hover{
	opacity:1;
	border-right:1px solid #292929;
	border-bottom:1px solid #292929;
	border-top:1px solid #a0a0a0;
	border-left:1px solid #a0a0a0;
	background:#000000;
	
}
.index:hover{
	opacity:1;
	border-right:1px solid #292929;
	border-bottom:1px solid #292929;
	border-top:1px solid #a0a0a0;
	border-left:1px solid #a0a0a0;
	background:#000000;
}

.search-bar{
	border-top:1px solid #e2e2e2;
	border-left:1px solid #e2e2e2;
	border-bottom:1px solid #5b5b5b;
	border-right:1px solid #5b5b5b;
	border-radius:2px;
	
}

.search-bar input[type=text]{
	box-sizing:border-box;
	border:none;
	font-size:15px;
	color:#fff;
	outline:none;
}

.fa-search{
	color:black;
	font-size:10px;
}

.section-1 div{
	width:100%;
}
.ii{
	font-size:15px;
	color:white;
	padding-right:10px;
}

.jj{
	font-size:15px;
	color:white;
	float:right;
	padding-right:10px;
}

.section-1{
	width:20%;
	top:0;
	left:0;
	height:100vh;
	background:black;
	position:relative;
	overflow:scroll;
}

.section-2{
	top:0;
	left:20%;
	width:80%;
	height:20vh;
	position:fixed;
	
}

.container{
	top:20vh;
	width:80%;
	height:80vh;
	position:relative;
}

.scrollable{
	height:70vh;
	width:90%;
	float:right;
	position:relative;
	overflow-y:scroll;
	border-top:2px solid #d4d4d4;
	border-left:2px solid #d4d4d4;
}
.scrollable th{
	position:sticky;
	top:0;
	background-color:#efefef;
	margin:0px;
	font-size:15px;
	font-family:cursive;
}

.scrollable td{
	font-size:12px;
	font-family:cursive;
	
}

.scrollable caption{
	position:sticky;
	padding-left:20px;
	bottom:0;
	background-color:#cfcfcf;
	margin:0px;
	font-family:cursive;
	color:#707070;
	font-size:15px;
}

::-webkit-scrollbar{
	width:6px;
}
::-webkit-scrollbar-thumb{
	background:linear-gradient(black,blue);
	border-radius:5px;
}

#file-upload{
	display:inlineblock;
	box-sizing:border-box;
	background-color:#ffffff;
	border-radius:20px;
	height:27px;
	padding:1px;
	border-top:2px solid #89928b;
	border-left:2px solid #89928b;
	border-bottom:2px solid #f2f2f2;
}
#file-upload label{
	cursor:pointer;
}
.filename{
	font-size:12px;
	float:left;
	padding-left:10px;
	padding-right:10px;
	color:grey;
	font-weight:bold;
	font-family:cursive;
	font-style:italic;
	box-sizing:border-box;
}
.ff{
	margin-left:5px;
	padding:3px;
	font-size:13px;
	float:right;
	background:#efefef;
	border-right:2px solid #89928b;
	border-bottom:2px solid #89928b;
	border-left:2px solid #f2f2f2;
	border-top:2px solid #f2f2f2;
	color:darkblue;
	border-radius:50px;
}
.ff:hover{
	background:darkblue;
	color:white;
}

.fa-redo-alt{
	margin-top:2px;
}

#file-upload input[type=file]{
	display:none;
}

#file-upload input[type=submit]{
	display:none;
}
.reset{
	display:none;
}	








